*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
    margin: 20px 0 10px 0;
}

.container .item{
    background-color: coral;
    color: #fff;
    margin: 5px;
    text-align: center;
}

.container.block{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    background-color: brown;
}

.container.flex{
    display: flex;
    max-width: 250px;
    margin: 0 auto;
    background-color: brown;

}