.container-cascata {
    background-color: blue;
}

.container-cascata{
    background-color: blueviolet;
}

.container-cascata{
    background-color: brown;
}

p{
    background-color: cadetblue;
}

#paragrafo-id{

    background-color: aqua ;
    }

.paragrafo-classe{
    background-color: brown;
}

p{
    background-color: cadetblue;
}