p   {
    border-width: 5px;
    border-color: green;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

p{
    border-right: 20px;
    border-color: darkred;
    border-style: solid;
    border-radius: 10px;
}

p {
    border-width: 2px 4px 6px 8px;
    border-color: green greenyellow gray grey;
    border-style: solid dashed dotted double;
}

p{
    border: 3px greenyellow solid;
}