.subtitulo {
    background-color: greenyellow;
}

.sub1 {
    background-color: green;
}

.sub2 {
    background-color: gold;
}

.rodape {
    background-color: tomato;
}
 
.paragrafo{
    background-color: chocolate;
}